


body {
  background-color: black;
  color: #fff;
  overflow-x: hidden;
}

/* Home */
.homebanner_wrapper h2 {
  /* animation: lights 5s 750ms linear infinite; */
  font-family: cursive;
}

@keyframes lights {
  0% {
    color: hsl(335, 78%, 50%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(310, 55%, 45%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

:root {
  --var-color: rgb(240, 239, 240);
}

.container h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: var(--var-color);
  position: relative;
}

.container h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px var(--var-color);
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

@keyframes flicker {
  0% {
    filter: blur(5px) brightness(1);
  }
  3% {
    filter: blur(5px) brightness(0);
  }
  6% {
    filter: blur(5px) brightness(0);
  }
  7% {
    filter: blur(5px) brightness(1);
  }
  8% {
    filter: blur(5px) brightness(0);
  }
  9% {
    filter: blur(5px) brightness(1);
  }
  10% {
    filter: blur(5px) brightness(0);
  }
  20% {
    filter: blur(5px) brightness(1);
  }
  50% {
    filter: blur(5px) brightness(1);
  }
  99% {
    filter: blur(5px) brightness(0);
  }
  100% {
    filter: blur(5px) brightness(1);
  }
}

/* gradient border */

.gradient-border {
  border-width: 3px;
  background: #000;
  position: relative;
  border-radius: 3px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  background: linear-gradient(
    60deg,
    #000000,
    #610661,
    #d321d3,
    #610661,
    #000000,
    #d321d3,
    #000000
  );
  border-radius: 6px;
  z-index: -1;
  animation: animatedgradient 2.5s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* circular progress bar */

.progress {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #07070c;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}

.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07070c;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid rgb(190 24 93);
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

/* progress1 */

.progress1 .left {
  animation: load1 1s linear forwards;
}

.progress1:nth-of-type(2) .right,
.progress1:nth-of-type(3) .right {
  animation: load2 0.5s linear forwards 1s;
}

.progress1:last-of-type .right,
.progress1:first-of-type .right {
  animation: load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(190deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}

/* progress2 */

.progress2 .left {
  animation: load1 1s linear forwards;
}

.progress2:nth-of-type(2) .right,
.progress2:nth-of-type(3) .right {
  animation: load2 0.5s linear forwards 1s;
}

.progress2:last-of-type .right,
.progress2:first-of-type .right {
  animation: progress2-load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(200deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(100deg);
  }

  100% {
    z-index: 100;
    transform: rotate(100deg);
  }
}

@keyframes progress2-load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(300deg);
  }
}


/* progress-3 */
.progress3 .left {
  animation: load1 1s linear forwards;
}

.progress3:nth-of-type(2) .right,
.progress3:nth-of-type(3) .right {
  animation: load2 0.5s linear forwards 1s;
}

.progress3:last-of-type .right,
.progress3:first-of-type .right {
  animation: progress3-load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(200deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(100deg);
  }

  100% {
    z-index: 100;
    transform: rotate(100deg);
  }
}

@keyframes progress3-load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(250deg);
  }
}


/* scroll effect on my-work */

.slide-in-left {
  animation: slideInLeft 3s forwards;
}

.slide-in-right {
  animation: slideInRight 3s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* dot */

.dot{
  height: 25px;
  width: 25px;
  background-color: rgb(190 24 93);
  border-radius: 50%;
  display: inline-block;
}

.shadow {
  /* filter: drop-shadow(30px 10px 4px rgb(190 24 93)); */
  /* filter: drop-shadow(0 -6mm 4mm rgb(190, 24, 93)); */
  filter: drop-shadow(0 0 0.75rem crimson);
  /* filter: drop-shadow(10px 10px 200px rgb(190 24 93)) drop-shadow(-10px -10px 50px rgb(190 24 93 )); */
}

.triangle-wrapper {
  width: 10vh;
  height: 10vh;
  background-color: rgb(190 24 93) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
}

.triangle {
  width: calc(10vh - 30px);
  height: calc(10vh - 30px);
  /* background-color: hsl(210, 50%, 14%); */
  /* //background-color: $gold-tri; */
  border-radius: 50%; 
  margin-top: 10px;
  /* filter: blur(115px) drop-shadow(-10px -10px 75px rgb(190 24 93) ); */
  p {
    color: #FFF;
  }
}


.example-5 {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-5 svg {
  position: absolute;
}

.example-5 .line {
  stroke-dasharray: 260;
  stroke-width: 1px;
  fill: transparent;
  stroke: rgba(237, 104, 170, 0.3);
  animation: svgAnimation 2.5s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: rgb(190 24 93) #000;
}


/* box-hover */

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #be195d;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

}


.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.slick-dots li button:before{
  color: #be195d !important;
}